@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    /* Font Family */
    --font-montserrat: "Montserrat", serif;

    /* Box Shadow */
    --box-shadow-glow: 0 0 15px rgba(0, 0, 0, 0.3);
    --box-shadow-right-edge: 10px 0px 10px -5px rgba(0, 0, 0, 0.3);

    /* Colors */
    --color-primary: rgb(28, 100, 242);

    /* Banner Colors */
    --color-banner-warning: #FDC200;
    --color-banner-error: #FF2C2C;
    --color-banner-success: #21AD61;
    --color-banner-info: #723DA6;

    /* Background Images (Custom Gradients) */
    --color-dark-slate: linear-gradient(to right, #111827, #1f2937);
    --color-purple-red: linear-gradient(to right, #7e22ce, #ef4444);
    --color-light-cream: linear-gradient(135deg, #f5f5f5, #eae7dc);
}